.icon {
	--icon: hsl(192, 42%, 34%);
	--icon-size: 1.5em;
	width: var(--icon-size);
	height: var(--icon-size);
	color: var(--icon);
	fill: var(--icon);
	stroke: var(--icon);
	cursor: pointer;
	transition: transform 200ms ease-out;
}

.icon:hover,
.icon:focus {
	transform: scale(1.3);
}

.icon--light {
	--icon: hsl(192, 42%, 82%);
}

.icon--bold {
	stroke-width:4px;
}

.icon--large {
	--icon-size: 2.4em;
}

.icon--extra-large {
	--icon-size: 4.5em;
}

.icon--without-scale {
	transition: none;
}

.icon--without-scale:hover,
.icon--without-scale:focus {
	transform: none;
}
